/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.vertical-align {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
  }

  h1, h2, h3, h4, h5, h6, p{
    font-family: 'Poppins' !important;
  }